body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.conteudo {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.perfil {
    text-align: center;
    margin-left: -50px;
    margin-right: 20px;
}

.perfil img {
    max-width: 200px;
    border-radius: 50%;
}

.descricao {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tecnologias li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tecnologias img {
    width: 30px;
    height: 30px;
}

.descricao p:last-child {
    margin-top: 20px;
}
